{% extends 'base.html.twig' %}

{% block title %}TfgTparametro{% endblock %}

{% block body %}
    <h1>TfgTparametro</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tfg_tparametro.id }}</td>
            </tr>
            <tr>
                <th>CodParametro</th>
                <td>{{ tfg_tparametro.codParametro }}</td>
            </tr>
            <tr>
                <th>DesParametro</th>
                <td>{{ tfg_tparametro.desParametro }}</td>
            </tr>
            <tr>
                <th>ValParametro</th>
                <td>{{ tfg_tparametro.valParametro }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tfg_tparametro_index') }}">back to list</a>

    <a href="{{ path('tfg_tparametro_edit', {'id': tfg_tparametro.id}) }}">edit</a>

    {{ include('tfg_tparametro/_delete_form.html.twig') }}
{% endblock %}
